version: '3.1'

services:
  web:
    build: ./docker
    image: erp-base:14.0-latest
    container_name: erp
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "8072:8072"
    volumes:
      - web-data:/var/lib/odoo
      # - ./config:/etc/odoo
      # - ./addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
      - ERP_ADMIN_PASSWD=adminpwd
    networks:
      - webapp

  db:
    image: postgres:13
    container_name: psql
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
    networks:
      - webapp

volumes:
  web-data:
  db-data:

networks:
    webapp:
        driver: bridge
